/*--------------------------------------------------------------
    #404 page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#11.1  error-404-section
--------------------------------------------------------------*/
.error-404-section {
    text-align: center;

    .error {
        @include media-query(991px) {
            width: 100%;
            float: none;
            text-align: center;
        }

        h2 {
            font-size: 200px;
            font-size: calc-rem-value(200);
            margin: 0;

            @include media-query(991px) {
                font-size: 150px;
                font-size: calc-rem-value(150);
            }

            @include media-query(767px) {
                font-size: 100px;
                font-size: calc-rem-value(100);
            }
        }
    }

    .error-message {
        margin-top: 40px;

        @include media-query(991px) {
            width: 100%;
            float: none;
            text-align: center;
            margin-top: 0;
        }

        h3 {
            font-size: 24px;
            font-size: calc-rem-value(24);
            margin: 0 0 0.8em;

            @include media-query(767px) {
                font-size: 20px;
                font-size: calc-rem-value(20);
            }
        }

        p {
            font-size: 18px;
            font-size: calc-rem-value(18);
            margin-bottom: 1.8em;

            @include media-query(767px) {
                font-size: 16px;
                font-size: calc-rem-value(16);
            }
        }
    }
}