/*---------------------------
	Fonts
----------------------------*/
@font-face {
	font-family: 'Now';
	src: url(../fonts/web-fonts/now-regular.otf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Now';
	src: url(../fonts/web-fonts/now-medium.otf) format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Now';
	src: url(../fonts/web-fonts/now-light.otf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Now';
	src: url(../fonts/web-fonts/now-thin.otf) format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
    font-family: 'aphroditeslimtextregular';
    src: url('../fonts/web-fonts/aphrodite-slim-text.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}



// fonts
$base-font-size: 15;
$base-font: 'Now';
$stylish-font: 'aphroditeslimtextregular';



// color
$dark-gray: #2a2a2a;
$white: #fff;
$black: #000;
$mid-gray: #797979;
$dark-blue: #202a41;
$cream: #b2c9d3;

$theme-primary-color: $cream;
$body-bg-color: $white;
$section-bg-color: #edecec;
$text-color: $mid-gray;
$heading-color: $dark-blue;
